<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>346757682722-tdcmk00a2p97k99t1fc5f5ehrau8sd73.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.346757682722-tdcmk00a2p97k99t1fc5f5ehrau8sd73</string>
	<key>API_KEY</key>
	<string>AIzaSyBTMbcECD7stCfiYyauhIKnuGTNBzFhi24</string>
	<key>GCM_SENDER_ID</key>
	<string>346757682722</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>host.exp.exponent</string>
	<key>PROJECT_ID</key>
	<string>rn-tinder-clone-d9276</string>
	<key>STORAGE_BUCKET</key>
	<string>rn-tinder-clone-d9276.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:346757682722:ios:5aff17dc540aebd1fe9c7b</string>
</dict>
</plist>